<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Front End</title>
  <!-- MDB icon -->
	<link rel="icon" href="Assets/Images/logo leaf.png">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="MDB-Pro/css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="MDB-Pro/css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="MDB-Pro/css/style.css">
<style>
.dropdown-item {
  color: black !important;
}
</style>

</head>
<body>

		<!--Navbar-->
				<nav class="navbar navbar-expand-lg navbar-dark #b2ff59 light-green accent-2-color">

				  <!-- Navbar brand -->
				  <a class="navbar-brand" href="https://www.trynewleaf.com/" target="blank">Front End</a>

				  <!-- Collapse button -->
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
				    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <!-- Collapsible content -->
				  <div class="collapse navbar-collapse" id="basicExampleNav">

				    <!-- Links -->
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="file://newleafdc/call%20center$/New%20Leaf%20Help%20Files/XX-Published%20Site/!Home.html" target="blank">Help Files
				          <span class="sr-only">(current)</span>
				        </a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="https://newleaf.pcrscw.com/Main/MainPage.aspx#jumpforward" target="blank">PCMI</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="file:///S:/Service%20Contracts%20Tools/Others/Sharepoint.html" target="blank">Sharepoint</a>
				      </li>

				      <!-- Dropdown -->
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
				          aria-haspopup="true" aria-expanded="false">Employee Links</a>
				        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="http://newleafecho.newleafsc.net/Security/Authorize/" target="blank">Uptivity</a>
				          <a class="dropdown-item" href="file://newleafdc/call%20center$/New%20Leaf%20Help%20Files/XX-Published%20Site/files/ff%20PAN_2019.pdf" target="blank">PAN</a>
				          <a class="dropdown-item" href="file://newleafdc/call%20center$/New%20Leaf%20Help%20Files/XX-Published%20Site/files/Time%20Punch%20Correction%20Form.pdf"target="blank">Punch Correction</a>
				          <a class="dropdown-item" href="https://www.paycomonline.net/v4/ee/web.php/app/login" target= "blank">Paycom</a>
				          <a class="dropdown-item" href="https://www.nlscap.net/users/sign_in" target="blank">Agent Portal</a>

				        </div>
				      </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Troubleshooting</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="S:\Service Contracts Tools\Ref TS.html" target="blank">Refrigerators</a>
                  <a class="dropdown-item" href="S:\Service Contracts Tools\DWTS.html" target="blank">Dishwashers</a>
                  <a class="dropdown-item" href="S:\Service Contracts Tools\TLW.html"target="blank">Top Load Washers</a>
                  <a class="dropdown-item" href="*" target= "blank">coming soon!</a>
                  <a class="dropdown-item" href="*" target="blank">coming soon!</a>

                </div>
              </li>
				    </ul>
				    <!-- Links -->

				   
				  </div>
				  <!-- Collapsible content -->

				</nav>
				<!--/.Navbar-->
			
<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
        <h5 class="mb-0">
          Ver1 & CRESP <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body">
			      	<textarea class="form-control" rows="15">
			WHAT IS THE DEDUCTIBLE AMOUNT FOR THIS CLAIM: $
			What Type of Plan is this (SKU):
			Does this plan have ADH: ___ Y ___ N
			Is this an ADH claim: ___ Y ___ N
			*****IF THIS IS AN ADH CLAIM USE THE ADHVER SHORTKEY NEXT******
			Is selling retailer a SSD or have preferred providers: ___ Y ___ N
			Previous paid claims amount:									
			Original Purchase Price:									
			Is OPP or balance of Limit of Liability UNDER $300.00? ____Y ____N	
			Has customer unplugged and plugged back in: ____ Y ____ N			
			If no DO NOT proceed until this has been done					
			****If sending product in to depot for repairs please advise customer that the passcode/password MUST be removed and the data backed up BEFORE being sent in.	

			If it is determined that the service provided on your product is not covered under the Terms & Conditions of your service plan, you will be responsible to pay the serviceprovider for the service call. You may also be responsible for charges outside of certain mileage per your terms and conditions.
			</textarea>

     </div>    
</div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
		      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
		        aria-expanded="false" aria-controls="collapseTwo2">
		        <h5 class="mb-0">
		         CCI <i class="fas fa-angle-down rotate-icon"></i>
		        </h5>
		      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
      <div class="card-body">
      	<textarea class="form-control" rows="15">
        Who Called:
        || Reason For Call:
        || Outcome:
        </textarea>  
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0">
         JFRR <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
      <div class="card-body">
      	<textarea class="form-control" rows="15" id="act">
Justification for Replacement Review (why) :                       
Initial purchase price of unit (OPP): $              
Fees owed to the current provider for attempted repair: $         or Diagnosis only amount:$                   
Total of all previous paid, pending and current owed clams: $               
Is Proof of Purchase required? Yes _____        No _____
If Yes make sure it been received.
If open SO was dispatched you will need to create Sub SO and assigned to Pending Review
</textarea>
      </div>
    </div>

  </div>
  <!-- Accordion card -->

</div>
  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingFour">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        <h5 class="mb-0">
         Recall <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
      <div class="card-body">
      	<textarea class="form-control" rows="15" id="act">
Who was the last Service Provider who serviced your unit?
(If different from the last service order, please determine why)
What was the date the last Service Provider was there?
Are you having the exact same problem? Yes ( ) No ( )
*****If Yes (same problem even if more or less symptoms) set up Recall to previous s/p,
and document in EXTERNAL Notes what the unit is doing or not doing now, even if
same as before?
*****If No (different problem with different symptoms) review to make sure all meets
repair criteria then create new SO and follow normal guidelines.
</textarea>
      </div>
    </div>

  </div>

</div>
  <!-- Accordion card -->
 
 <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingFive">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive"
        aria-expanded="false" aria-controls="collapseFive">
        <h5 class="mb-0">
         ADH  <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
      <div class="card-body">
      	<textarea class="form-control" rows="15" id="act">
Who was using the unit (was it someone other than the contract holder)?
How did this accident occur? (Circumstances surrounding the accident)?
Where did this accident occur (location of the accident)?			
Is it eligible for coverage? ___Yes ___No, if Yes verified by ______Help Files Matrix or ___ (enter name of management)
**********************************************************************************			
</textarea>
      </div>
    </div>

  </div>
   <!-- Card header -->
   <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingSIx">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix"
        aria-expanded="false" aria-controls="collapseSix">
        <h5 class="mb-0">
         ADH Email <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionEx">
      <div class="card-body">
      	<textarea class="form-control" rows="15" id="act">
a. Customers Name
b. Dealers Name
c. Contract Number and/ or Service Order Number
d. Insurance Carrier Number
e. SKU
f. Type of Unit
g. Manufacture of Unit
h. Model Number
i. Product Date of Purchase
j. ADH short key details
k. Full name at end of email of representative who is submitting verification			
</textarea>
      </div>
    </div>
  <!-- Accordion card -->
 
 <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingSeven">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSeven"
        aria-expanded="false" aria-controls="collapseSeven">
        <h5 class="mb-0">
         Changes  <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordionEx">
      <div class="card-body">
      	<textarea class="form-control" rows="15" id="act">
Customer Name:
Address:
Contract /SO#:
Contract showing in ___ PCMI ___ Admin Site ____ Both
What needs to be done:
***POP required for any contract correction except for MFG and MFG warranty***
MFG Link: (for MFG update)
Agent Name submitting Request:		
</textarea>
      </div>
    </div>
 <!-- Accordion card -->
 
 <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingEight">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEight"
        aria-expanded="false" aria-controls="collapseEight">
        <h5 class="mb-0">
         Manufacture Verification  <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordionEx">
      <div class="card-body">
      	<textarea class="form-control" rows="15" id="act">
Implied Manufacturer Warranty (PCMI): ___ Months Parts ___ Months Labor
Actual Manufacturer Warranty: ___ Months Parts ___ Months Labor
Manufacturer Warranty Verified (URL): 		
</textarea>
      </div>
    </div>	
 <!-- Accordion card -->
 
 <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingNine">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseNine"
        aria-expanded="false" aria-controls="collapseNine">
        <h5 class="mb-0">
         50% Back  <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordionEx">
      <div class="card-body">
			      	<textarea class="form-control" rows="15" id="act">
			|| Contract Number(s):
			|| First & Last Name:
			|| Current & Valid Telephone Number:
			|| (IMPORTANT) Current & Valid E-Mail Address:
			||A Brief Description of The Conversation the Agent Had with The Customer:
			||(IMPORTANT) Document the Approximate Time the Customer Mailed Out Their 50% Back Guarantee:		
			</textarea>
      </div>
    </div>	
  </div>
<!-- Accordion wrapper -->
  <!-- Footer -->
<footer class="page-footer font-small light-green accent-2"> 

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Made by NHerrera:
    <a href="https://www.trynewleaf.com/">Trynewleaf.com</a>
  </div>
  <!-- Copyright -->

</footer>
  


					<script type="text/javascript" src="MDB-Pro/js/jquery.min.js"></script>
				  <!-- Bootstrap tooltips -->
				  <script type="text/javascript" src="MDB-Pro/js/popper.min.js"></script>
				  <!-- Bootstrap core JavaScript -->
				  <script type="text/javascript" src="MDB-Pro/js/bootstrap.min.js"></script>
				  <!-- MDB core JavaScript -->
				  <script type="text/javascript" src="MDB-Pro/js/mdb.min.js"></script>
				  <!-- Your custom scripts (optional) -->
				  <script type="text/javascript"></script>
</body>
</html>