<style>
.indent-1 {
	text-indent: 10%
}
.indent-2 {
	text-indent: 15%
}
.indent-3 {
	text-indent: 20%
}
.active-clock {
	color: green;
	font-weight: bold;
}
</style>

<div class="container pl-0 pr-0 border-dark" style="border-style: solid;border-radius: 5px;">
	<div class="row">
		<div class="col-12">
			<button name="timer-buttons" class="btn btn-success btn-block m-0" id="start">START</button>
			<button name="timer-buttons" class="btn btn-primary btn-block m-0" id="next" onclick="skip()" hidden>NEXT</button>
			<button name="timer-buttons" class="btn btn-danger btn-block m-0" id="stop" hidden>STOP</button>
			<button name="timer-buttons" class="btn btn-info btn-block m-0" id="clear" hidden>RESET</button>
			<div class="row">
				<div class="col-4">
					<ul class="list-group">
						<% @procedure.each do |f| %>
						<li class="clock list-group-item">
							<%= f.start %>
						</li>
						<% end %>
					</ul>
				</div>
				<div class="col-8">
					<ul class="list-group">
						<% @procedure.each do |f| %>
						<li class="details list-group-item">
							<div class="row p-0 m-0">
								<div class="col-5">
									<%= f.section %>
								</div>
								<div class="col-2">
									<%= f.goal %>
								</div>
								<div class="col-5">
									<%= f.description %>
								</div>
							</div>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var h1 = $('.active-clock'),
	start = $('#start'),
	stop = $('#stop'),
	clear = $('#clear'),
	seconds = 0, minutes = 0, hours = 0,
	t;

function add() {
	var h1 = $('.active-clock')
	seconds++;
	if (seconds >= 60) {
		seconds = 0;
		minutes++;
		if (minutes >= 60) {
			minutes = 0;
			hours++;
		}
	}

	h1.text((hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds));
	timer();
}

function timer() {
	t = setTimeout(add, 1000);
}

start.on('click', function() {
	new timer();
	$('#start').prop('hidden', true);
	$('#next').prop('hidden', false);
	$('li.clock').first().addClass('active-clock')
})
stop.on('click', function(){
	clearTimeout(t);
	$('li.active-clock').removeClass("active-clock");
	$('#stop').prop('hidden', true);
	$('#clear').prop('hidden', false);
})

function skip() {
	clearTimeout(t);
	var $this = $('li.active-clock');
	if($this.index() == $this.siblings().length-1) {
		$('li.active-clock').next().addClass("active-clock");
		$('li.active-clock').prev().removeClass("active-clock");
		seconds = 0; minutes = 0; hours = 0;
		timer();
		$('#next').prop('hidden', true);
		$('#stop').prop('hidden', false);
	} else {
		$('li.active-clock').next().addClass("active-clock");
		$('li.active-clock').prev().removeClass("active-clock");
		seconds = 0; minutes = 0; hours = 0;
		timer();
	}
}

clear.on('click', function() {
	$('li.clock').text("00:00:00");
	$('#clear').prop('hidden', true);
	$('#start').prop('hidden', false);
})
</script> 