<h1>Hello, <%= @user.first_name %></h1>

<h3>Welcome to Roots, the New Leaf Agent Portal</h3>
  <p>
    You have been registered with the username [<%= @user.email%>] and the password your admin has provided for you. Please begin by selecting "Change my password" in the user menu located in the top right-hand corner of your screen.<br>
  </p>
<p>We at New Leaf are excited to have you with us and look forward to a happy career together.</p>