

<script>
$(document).ready(function(){
  var table = $('#incentivetable').dataTable({ 
        "pageLength": 25,
        select: true,
        ajax: {
        url: 'incentive_dashboard_breakdown',
        "processing": true,
        dataSrc: ''
        },
        columns: [ 
              { data: 'User'}, 
              { data: 'Occurrences' }, 
              { data: 'Uph' },
              { data: 'Errors' },
              { data: 'Occupancy' },
              { data: 'Turntime' },
              { data: 'Contracts' },
              { data: 'AHT' },
              { data: '' } 
            ]
          });
});
</script>
      <div class="container pt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card  p-2">
              <table class="table table-striped table-hover" id="incentivetable">
                <thead>
                  <tr>
                                          <th>User</th>
                                          <th>Occurrences</th>
                                          <th>Uph</th>
                                          <th>Errors</th>
                                          <th>Occupancy</th>
                                          <th>Turntime</th>
                                          <th>Contracts</th>
                                          <th>AHT</th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>

                    </tbody>
                  </table>
                  <div>
                    <%= form_tag import_incentives_path, multipart: true do %>
                      <%= file_field_tag :file, class: 'btn btn-primary font-weight-bold' %>
                      <%= submit_tag "IMPORT", class: 'btn btn-primary font-weight-bold' %>
                    <% end %>
                  </div>
                </div>

                                  <%# Remove the trailing if condition if you're using pagination. %>
                
                              </div>

            </div>
          </div>
