.form-control {
  border-radius: 5px !important;
}

.input-group-text {
	border-radius: 5px 0px 0px 5px !important;
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: white !important;
}
 
::-webkit-scrollbar-thumb {
  background-color: grey !important;
  outline: 1px solid white !important;
}

.hiddenrow {
	padding: 0 !important;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
