.pagination {
  display: inline-block !important;
  border-radius: 5px !important;
}

.pagination a {
  color: black !important;
  float: left !important;
  text-decoration: none !important;
  background-color: transparent !important;
  border-radius: 5px !important;
}

.pagination a.active {
  display: inline-block !important;
  background-color: red !important;
  color: red !important;
  border-radius: 5px !important;
}

.pagination a:hover:not(.active) {
	background-color: grey !important;
}

.nav-item a:hover {
  color: black !important;
  background-color: #dcedc8 !important;
}

.pagination .page-item .page-link, .pagination ul li a {
  border-radius: 2px !important;
  background-color: #707070 !important;
  color: white !important;
  font-weight: bold !important;
}

.buttons-html5 {
  width: 100% !important;
  border-radius: 2px !important;
  background-color: #707070 !important;
  color: white !important;
  font-weight: bold !important;
}
