
label {
	margin-bottom: 0px !important;
}

.error-menu {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 12em;
  margin-top: -2.5em;
  opacity: 0.6;
  -webkit-columns: 2;
          columns: 2;
  height: 50px;
}

.submit-menu {
  position: fixed;
  right: 0;
  bottom: 50px;
  width: 12em;
  margin-top: -2.5em;
  opacity: 0.6;
  height: 50px;
}


.alert-calls {
	border-color: red !important;
	color: red !important;
}

.alert-emails {
	border-color: red !important;
	color: red !important;
}

.form-control-val {
  border-radius: 0px 5px 5px 0px !important;
  max-height: 25px;
}

.custom-select-val {
	border-radius: 0px 5px 5px 0px !important;
	max-height: 25px;
}

.form-control-lol {
  border-radius: 0px !important;
  max-height: 25px;
}

.form-control-lol-perc {
  border-radius: 0px 5px 5px 0px !important;
  max-height: 25px;
  max-width: 65px !important;
}

.form-control-ta {
  border-radius: 0px 5px 5px 0px !important;
  max-height: 75px !important;
}

.input-group-text {
	width: 90px !important;
	max-height: 25px;
}

.input-group-text-check {
	width: 50px !important;
	max-height: 25px;
}

.input-group-text-checkbox {
	border-radius: 0px 5px 5px 0px !important;
	border-color: #9f9e9e !important;
	width: 40px !important;
	max-height: 25px;
}

.input-group-text-ta {
	width: 90px !important;
	max-height: 75px;
}
