<% @title = "Showing Progressive Action Type" %>

<% content_for :description do %>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Name</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @writeup.name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Desc</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @writeup.desc %>
                  </span>
                </div>
              </div>

                        <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_writeup_path(@writeup), class: 'btn btn-primary' %>
                <%= link_to 'Back', writeups_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
