<head>
	  <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>
<body>
<%= image_tag 'logo.png' %><br /><br />

<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<h1>Hello ,</h1>
		</div>
		<div class="card-body">
			<h3>A new Occurrence Entry has been logged against you.</h3>
			  <p>
			    Please log in to <a href="http://www.nlscap.net">the agent portal</a> to review the occurrence entry and inform your supervisor if there are any issues. <br>
			  </p>
			<small>
				<p class="text-justify"><center>New Leaf Service Contracts, LLC.</center></p>
				<p class="text-justify"><center>909 Lake Carolyn Pkwy, Ste 900</center></p>
				<p class="text-justify"><center>Irving, TX 75039-3919</center></p>
			</small>
		</div>
	</div>
</div>
  <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>